body {
    background-color: #f8f9fa;
}

.container {
    max-width: 500px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-buttons {
    display: flex;
    gap: 10px;
}

.edit-btn {
    background: none;
    border: none;
    color: blue;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
}

.delete-btn {
    background: none;
    border: none;
    color: red;
    font-size: 1.2rem;
    cursor: pointer;
}
